body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  .navbar{
    width: 100%;
  }
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  

.content-app{
    display: flex;
    height: 100vh;
    flex-direction: row;
    position: relative;
    margin: 10px;
}


.main-view {
    position: relative;
    display: flex;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.main-view #informationBanner{
  z-index: 4;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#informationBanner #banner{
  width: 70%;
  height: 30%;
  background: #fff;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
}

#button-next{
  
  display: flex;
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: #2470dc;
  bottom: 10px;
  right: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
}

#button-next:hover{
  cursor: pointer;
}

.main-view #mapBox{ 
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
}

.main-view #layersControlContent{
    position: absolute;
    width: 300px;
    right: 10px;
    top: 30px;
    z-index: 3;
    
}


#layersControlContent #ContentLayer{
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
}

#ContentLayer{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

#dropDown{
    display: none;
}

#ContentLayer:hover{
    background-color: #EEEEEE;
}

#ContentLayer:hover #dropDown{
    display: block;
}

#layerControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px ;
}




.main-view .contentInformationLayer{
    
    position: absolute;
    width: 300px;
    z-index: 3;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contentInformationLayer #infoContent{
    width: 300px;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
}

/* .contentInformationLayer #legendContent{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
} */

#legendContent{
  z-index: 3;
  position: absolute;
  width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: 15px;
  text-align: justify;
  bottom: 20px;
  right: 20px;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    width: 200px;
    height: 300px;
}

#legendContent label{
  font-size: 10px;
  margin: 20px;
}


#infoContent #legend-layer{
    margin-bottom: 10px;
}

#opacityContent input{

    width: 80%;
    margin-top: 10px;   
}

.main-view #latlngShow{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 50px;
    top: 10px;
    z-index: 3;
    background: white;
    border-radius: 15px;
    border-color: #333;
    border-width: 2px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}








